@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

.App {
  color: #fff;
  text-align: center;
}

.optionsbar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.agregar {
  background-color: #3a154d;
  border: none;
  color: white;
  padding: 12px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 8px;
  margin-right: 87vh;
  margin-bottom: 50px;
  position: fixed;
}

.btnAdd:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: block;

}



.overlay-container {
  display: flex;
  justify-content: center;
  align-items: center;
}